<div class="thumbnail">
    <div class="card">
        {{#if imageUrl}}
            <div class="card-image">
            </div>
        {{else}}
            <div class="card-header">
            </div>
        {{/if}}
        <div class="card-body">
            <h1 class="title">{{title}}</h1>
            <ul class="meta-line">
                <li class="author">{{author}}</li>
                {{#if articledate}}
                    <li>
                        <time class="updated" datetime="{{articledate}}" pubdate="">{{formattedDate}}</time>
                    </li>
                {{/if}}
            </ul>
            <p>{{{summary}}}</p>
        </div>
        <div class="card-icon">
            <img src="{{sourceimage}}"></img>
        </div>
    </div>
</div>